.container-fluid .row{
    padding-top: 6rem;
}
.dayBlock li {
    position: relative;
    margin: 10px;
    background: ghostwhite;
    border-radius: 2px;
  }
  
  .dayBlock li::before,
  .dayBlock li::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0,0,0,.7);
    z-index: -1;
  }
  
  .dayBlock li::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .dayBlock li::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
